<md-dialog>
	<md-content>
		<md-subheader class="md-sticky-no-effect"><h3>Forum Code of Conduct</h3></md-subheader>
		<p>Please help us create a healthy learning environment by respecting the following standards:
			<ul>
				<li><strong>Be polite and respectful</strong>. Please respect your fellow colleagues. Insulting, condescending, or abusive words will not be condoned.</li>
				<li><strong>Be sensitive.</strong> Please be aware that everyone will have differing perspectives and it is important to be kind, thoughtful, and open-minded when discussing race, religion, gender, sexual orientation, or controversial topics.</li>
				<li><strong>Post appropriate content.</strong> You may not post inappropriate deemed pornographic or obscene, or advertise or promote outside products or organizations, or spam the forums with repeat content.</li>
			</ul>
		</p>
		<p>Posts that violate this Code will be deleted or made invisible by the forum moderator.</p>
	</md-content>
	<div class="md-actions" layout="row">
	    <span flex></span>
	    <md-button ng-click="gotIt()" class="md-primary">Got it!</md-button>
	</div>
</md-dialog>