<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" flex>
  <md-toolbar style="background-color:#555">
    <div class="md-toolbar-tools" layout="row" layout-align="start">
      <a ng-click="closeRight()" aria-label="close right sidenav" hide-lg><i class="fa fa-arrow-right pointer"></i></a>
    </div>
    <h1 class="md-toolbar-tools">Latest Activities</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" class="md-padding">
    <md-list>
    <h3>Upcoming Events</h3>
    <ul>
      <li>Sydney Convening Meeting 3 – 5 Feb 2015</li>
      <li>Bandung Workshop 30 August – 5 September 2015</li>
      <li>Singapore Workshop 14 – 20 February 2016</li>
    </ul>

    <h3>New</h3>
    Coming soon.
  </md-content>
</md-sidenav>