<md-dialog aria-label="Sign In">
  <md-content layout="column">
    <md-header class="md-sticky-no-effect"><h3><i class="fa fa-user" hide-gt-md></i> Ambitious Alignments</h3></md-header>
    <md-divider></md-divider>
    <div layout="row" layout-margin>
    	<div flex="33" hide-sm hide-md><h1><i class="fa fa-user fa-5x"></i></h1></div>
    	<div layout="row" flex>
	      <form name="formCP">
	        <p>Key in your email, old password and new password.</p>
	        <div>
	          <md-text-float label="Email" ng-model="username" ng-disabled="true"></md-text-float>
	          <md-text-float label="Old Password" ng-model="oldpassword" type="password" required></md-text-float>
	          <md-text-float label="New Password" ng-model="newpassword1" type="password" required></md-text-float>
	          <md-text-float label="New Password" ng-model="newpassword2" type="password" required></md-text-float>
	        </div>
	        <span class="alert alert-danger" ng-show="e.message"> {{e.message}} </span>
	       	<span class="alert alert-danger" ng-show="newpassword1!==newpassword2"> The new password fields do not match </span>
	      </form>
	    </div>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button href="#/main" class="md-default">Cancel</md-button>
    <md-button ng-click="change(user.password.email, oldpassword, newpassword1)" class="md-primary" ng-disabled="newpassword1!==newpassword2 || formCP.$invalid"><img src="images/tiny-loading.gif" height="15" ng-show="loginLoading"> Change Password</md-button>
  </div>
</md-dialog>