<md-content class="md-padding">
	<div class="columns">
		<div class="pin">
			<div class="news-panel">
				<img src="images/Asia through art.jpg">
				<div class="news-text">
					<h3>Reading Seminar led by Emeritus Prof John Clark, Prof Adrian Vickers and Dr Stephen Whiteman</h3>
					<small class="text-muted">5 February 2015, 1300-1500</small>
					<p>Key texts for discussion:
						<ul>
							<li>George Kubler, <a href="http://ambitiousalignments.com/files/The Shape of Time.pdf" target="_blank">The shape of time: remarks on the history of things</a> (New Haven: Yale University Press, 2008) 83-96.</li>
							<li>Keith Moxey, <a href="http://ambitiousalignments.com/files/Is Modernity Multiple.pdf" target="_blank">Visual Time: the image in history</a> (Durham: Duke University Press, 2013), 11-22.</li>
							<li>Fuyubi Nakamura, Morgan Perkins and Olivier Krischer, "<a href="http://ambitiousalignments.com/files/Images of Asia Across Borders.pdf" target="_blank">Images of Asia across borders</a>" in Asia through art and anthropology: cultural translation across borders, eds. Fuyubi Nakamura, Morgan Perkins and Olivier Krischer (London: Bloomsbury, 2013) 1-15.</li>
						</ul>
					</p>
					<p>Additional:
						<ul>
							<li>T.K. Sabapathy, "<a href="http://ambitiousalignments.com/files/Developing regionalist perspectives.pdf" target="_blank">Developing regionalist perspectives in Southeast Asian Art Historiography (1996)</a>" in Contemporary art in Asia: a critical reader, eds. Melissa Chiu and Benjamin Genocchio (Cambridge: MIT Press, 2011) 47-59.</li>
						</ul>
					</p>
					<p>A Working Bibliography:
						<ul>
							<li>John Clark, <a href="http://ambitiousalignments.com/files/SOUTHEAST ASIA bib rev 2105.docx" target="_blank">Bibliography of modern and contemporary art of Southeast Asia,</a> 2015.</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</md-content>
