<md-content class="md-padding">
	<h2>Getting Started</h2>
	<h3>Welcome to Ambitious Alignments: New Histories of Southeast Asian Art!</h3>
	<p>This two year research program is funded through the Getty Foundation’s Connecting Art Histories initiative, and developed by The Power Institute Foundation for Art &amp; Visual Culture at the University of Sydney in cooperation with regional partners, National Gallery Singapore and The Institute of Technology, Bandung. </p>
	<p>This private web application is intended only for the participants and leaders of Ambitious Alignments. We hope that you will take advantage of all the opportunities this research program will be offering, and use this e-learning platform to develop a collegial network and share innovative ideas with each other. We encourage you to participate actively and generously in the discussion forums which we hope would generate plenty of interesting and stimulating discussion in the months to come. </p>
	<br>
	<h4 class="text-muted">Videos</h4>
	<p>We will be posting video segments of the workshops held in Sydney, Singapore and Indonesia here. These videos are for private viewing only, and are not to be circulated or published in any other website.</p>
	<br>
	<h4 class="text-muted">Readings and Sources</h4>
	<p>Occasionally, we will be uploading critical readings ahead of a seminar or masterclass. Readings can be downloaded as a PDF and will be made available to the participant at least one week ahead of the masterclass.</p>
	<br>
	<h4 class="text-muted">Communication</h4>
	<p>Communication with the participants will be done through email or as announcement posts <a href="#/main">here</a>.</p>
	<p>We look forward to being a part of this exciting journey with everyone!</p>
	<br>
	<p class="text-muted">If you encounter any difficulty using this e-learning platform, click <a href="#/support">Support</a> and fill out the fields provided.</p>
</md-content>
