<div class="section-header">
  <h1>Contact Support</h1>
  <p>Fill up the form below to contact the administrator</p>
</div>

<!-- START CONTACT BOX -->
<div class="contact-box">
  <div class="alert fade in {{messageType}} lead mobile" ng-show="message">
    {{message}} <img src="{{loading}}" class="loading">
  </div>
  <!-- START CONTACT FORM -->
  <form name="messageFrm" class="col-md-4 css-form" novalidate>    
    <div class="form-group">
      <label for="subject">Subject</label><br>
      <input type="text" name="subject" placeholder="Subject (required)" class="form-control" size="50" ng-model="contact.subject" required>
      <span class="error" ng-show="!messageFrm.subject.$pristine && messageFrm.subject.$error.required"><br>Please enter the subject of your message.</span><br>
    </div>
    <div class="form-group">              
      <label for="name">Name</label><br>
      <input type="text" name="name" placeholder="Name (required)" class="form-control" size="50" ng-model="contact.name" required>
      <span class="error" ng-show="!messageFrm.name.$pristine && messageFrm.name.$error.required"><br>Please enter your name.</span><br>
    </div>
    <div class="form-group">
      <label for="email">Email</label><br>
      <input type="email" name="email" placeholder="Email (required)" class="form-control" size="50" ng-model="contact.email" required>
      <span class="error" ng-show="!messageFrm.email.$pristine && messageFrm.email.$error.email"><br>Please enter your email address so that we could get in touch.</span>
    </div>
    <div class="form-group">
      <label for="message">Message</label><br>
      <textarea name="message" class="form-control" cols="50" rows="4" placeholder="Your Message" ng-model="contact.message" required></textarea>
      <span class="error" ng-show="!messageFrm.message.$pristine && messageFrm.message.$error.required"><br>Please enter the message that you wouldd like to send to us.</span><br>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-disabled="messageFrm.$invalid" ng-click="sendEmail(contact);">Send Message</button>
    </div>
  </form>
  <div class="clear"></div>
</div><!-- END CONTACT FORM --> 

<div ng-show="contact" class="col-md-8 screen letterbox">
  <div class="alert fade in {{messageType}}" ng-show="message">
    {{message}} <img src="{{loading}}" class="loading">
  </div>
  <p>Dear Ruler Technology,</p>
  <br />
  <div class="subject">{{contact.subject}}</div>
  <br />
  <p>{{contact.message}}</p>
  <br />
  <br />
  <p>{{contact.name}} <br /> {{contact.email}}</p>
</div>